<footer  class="container py-5" style="position:fixed; left:0; bottom:0; width:100%;">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="container text-center">
                    <ul class="text-center text-small" style="list-style:none; display:flex; flex-direction:row; justify-content:center; text-align:center;">
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Meta</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">About</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Jobs</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Help</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Api</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Privacy</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Terms</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Top Accounts</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Hashtags</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Instagram Lite</a></li>
                    </ul>
                    <ul style="list-style:none;">
                        <li><a class="text-muted" href="#">Contact Uploading & Non-Users</a></li>
                    </ul>
                    <ul class="text-center text-small" style="list-style:none;display:flex; flex-direction:row;justify-content:center;text-align-center">
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Dance</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Food & Drink</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Home & Garden</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Music</a></li>
                        <li><a class="text-muted" href="#">Visual Arts</a></li>
                    </ul>
                    <div class="container text-center">
                        <p style="font-size:small"> English © {% now "Y" %} Instagram from Meta</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>