{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {%if title%}

    <title>{{title}}</title>
  
    {%endif%}
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Pacifico&family=Poppins:wght@100&display=swap" rel="stylesheet">
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
    
</head>
<body>
    <div class="container" style="margin-top:200px; margin-bottom:200px;">
        <div class="row">
            <div class="col-md-6 sm-12 ">
                <div class="image_holder">
                    <img class="image1" src={% static "instagram.png" %}>
                    <img class="image2"  src={% static "instagram.png" %}>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="margin-left:150px; margin-top:100px; padding-top:50px; padding-bottom:65px; width:300px; background:#E35753;"> 
                    <div class="card-body">
                      <h5 class="card-title" style="color:black;font-size:25px; font-family: 'Pacifico', cursive; text-align:center;margin-bottom:70px;">Instagram</h5>
        
                        <div class="text-center">
                            <a class='btn btn-primary' href="/accounts/login">Login</a>
                        </div>
                        {% comment %} <a href="{% url 'indexpage' %}">Index</a> {% endcomment %}
                        <h5 class="text-center">Don't have an account?<span><a href="/accounts/register">Register</a></span></h5>
                    </div>
                
                </div>    
            </div>
        </div>


        







    </div>
    {% include 'footer.html' %}
</body>
</html>