{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {%if title%}

    <title>{{title}}</title>
  
    {%endif%}
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Pacifico&family=Poppins:wght@100&display=swap" rel="stylesheet">
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
    
</head>
<body>
    <div class="container">
        <div class="image_holder">
            <img class="image1" src={% static "instagram.png" %}>
            <img class="image2"  src={% static "instagram.png" %}>
        </div>

        <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="color:black;font-size:25px; font-family: 'Pacifico', cursive;">Instagram</h5>

                <div>
                    <a class='btn btn-primary' href="/accounts/login">Login</a>
                </div>
                <a href="{% url 'indexpage' %}">Index</a>
                <h5>Don't have an account?<span><a href="/accounts/register">Register</a></span></h5>
            </div>
        
        </div>
        





    </div>
    {% include 'footer.html' %}
</body>
</html>