{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {%if title%}

    <title>{{title}}</title>
  
    {%endif%}
    
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="image_holder">
            <img class="image1" src={% static "instagram.png" %}>
            <img class="image2"  src={% static "instagram.png" %}>
        </div>
        <div>
            <a class='btn btn-default' href="/accounts/login">Login</a>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>