{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Pacifico&family=Poppins:wght@100&display=swap" rel="stylesheet">
{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse" style="height:100px; ">
  <div class=" container-fluid">
    <div class="navbar-header" style="margin-top:20px;font-family: 'Pacifico', cursive;">
      <div style="display:flex; flex-direction:row; position:absolute; top:50%; left:25%;">
          <a class="navbar-brand" style="color:black; font-size:25px; margin-right:20px;" href="{% url 'indexpage' %}">Instagram</a>
        <!-- Adding a search form  -->
        <form class="navbar-form" role="search" action="{% url 'search_results' %}" style:"margin-right:50px;">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="user">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>

        <!-- search form end -->
        <a href="" style="margin-right:20px;text-decoration:none;"><span class="iconify" data-icon="ci:home-alt-fill" data-width="30"></span></a>
        <a href="" style="margin-right:20px;text-decoration:none;"><span class="iconify" data-icon="fe:messanger" data-width="30"></span></a>
        <a href="" style="margin-right:20px;"><span class="iconify" data-icon="bi:plus-square" data-width="30"></span></a>
        <a href="" style="margin-right:20px;"><span class="iconify" data-icon="ant-design:compass-filled" data-width="30"></span></a>
        <a href="" style="margin-right:20px;"><span class="iconify" data-icon="icon-park-outline:like" data-width="30"></span></a>
        <a href="" style="margin-right:20px;"><span class="iconify" data-icon="healthicons:ui-user-profile" data-width="30"></span></a>
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'mainpage'%}">Home</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
      
    </div>    
   
  </div>
</nav>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>









<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>
</html>